<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ef.dao.ModelDao">
    
    <resultMap type="com.ruoyi.ef.entity.ModelEntity" id="FlowModelResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="data"    column="data"    />
        <result property="zz"    column="zz"    />
        <result property="sb"    column="sb"    />
        <result property="ds"    column="ds"    />
    </resultMap>

    <sql id="selectModelVo">
        select id, name, data, zz, sb, ds from flow_model
    </sql>

    <select id="selectModelList" parameterType="com.ruoyi.ef.entity.ModelEntity" resultMap="FlowModelResult">
        <include refid="selectModelVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="data != null  and data != ''"> and data = #{data}</if>
            <if test="zz != null  and zz != ''"> and zz = #{zz}</if>
            <if test="sb != null  and sb != ''"> and sb = #{sb}</if>
            <if test="ds != null  and ds != ''"> and ds = #{ds}</if>
        </where>
    </select>

    <select id="selectModelById" parameterType="Long" resultMap="FlowModelResult">
        <include refid="selectModelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertModel" parameterType="com.ruoyi.ef.entity.ModelEntity">
        insert into flow_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="data != null">data,</if>
            <if test="zz != null">zz,</if>
            <if test="sb != null">sb,</if>
            <if test="ds != null">ds,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="data != null">#{data},</if>
            <if test="zz != null">#{zz},</if>
            <if test="sb != null">#{sb},</if>
            <if test="ds != null">#{ds},</if>
         </trim>
    </insert>

    <update id="updateModel" parameterType="com.ruoyi.ef.entity.ModelEntity">
        update flow_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="data != null">data = #{data},</if>
            <if test="zz != null">zz = #{zz},</if>
            <if test="sb != null">sb = #{sb},</if>
            <if test="ds != null">ds = #{ds},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteModelById" parameterType="String">
        delete from flow_model where id = #{id}
    </delete>

    <delete id="deleteModelByIds" parameterType="String">
        delete from flow_model where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>