<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.enterprise.mapper.EnterpriseManagementSalaryTableMapper">

    <resultMap type="EnterpriseManagementSalaryTable" id="EnterpriseManagementSalaryTableResult">
        <result property="esId"    column="ES_ID"    />
        <result property="salaryCalculationYearMonth"    column="Salary_Calculation_Year_Month"    />
        <result property="employeeId"    column="Employee_Id"    />
        <result property="name"    column="Name"    />
        <result property="position"    column="Position"    />
        <result property="department"    column="Department"    />
        <result property="fourthLevelOrgName"    column="Fourth_Level_Org_Name"    />
        <result property="groupCode"    column="Group_Code"    />
        <result property="subgroupCode"    column="Subgroup_Code"    />
        <result property="otherBonuses"    column="Other_Bonuses"    />
        <result property="overtimeSalary"    column="Overtime_Salary"    />
        <result property="totalSalary"    column="Total_Salary"    />
        <result property="salaryTableIndex"    column="Salary_Table_Index"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
    </resultMap>

    <sql id="selectEnterpriseManagementSalaryTableVo">
        select ES_ID, Salary_Calculation_Year_Month, Employee_Id, Name, Position, Department,Fourth_Level_Org_Name, Group_Code, Subgroup_Code, Other_Bonuses, Overtime_Salary, Total_Salary, Salary_Table_Index, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME from Enterprise_Management_Salary_Table
    </sql>

    <select id="selectEnterpriseManagementSalaryTableList" parameterType="EnterpriseManagementSalaryTable" resultMap="EnterpriseManagementSalaryTableResult">
        <include refid="selectEnterpriseManagementSalaryTableVo"/>
        <where>
            <if test="salaryCalculationYearMonth != null "> and Salary_Calculation_Year_Month = #{salaryCalculationYearMonth}</if>
            <if test="employeeId != null  and employeeId != ''"> and Employee_Id = #{employeeId}</if>
            <if test="name != null  and name != ''"> and Name like concat('%', #{name}, '%')</if>
            <if test="position != null  and position != ''"> and Position = #{position}</if>
            <if test="department != null  and department != ''"> and Department = #{department}</if>
            <if test="fourthLevelOrgName != null  and fourthLevelOrgName != ''"> and Fourth_Level_Org_Name = #{fourthLevelOrgName}</if>
            <if test="groupCode != null  and groupCode != ''"> and Group_Code = #{groupCode}</if>
            <if test="subgroupCode != null  and subgroupCode != ''"> and Subgroup_Code = #{subgroupCode}</if>
            <if test="otherBonuses != null "> and Other_Bonuses = #{otherBonuses}</if>
            <if test="overtimeSalary != null "> and Overtime_Salary = #{overtimeSalary}</if>
            <if test="totalSalary != null "> and Total_Salary = #{totalSalary}</if>
            <if test="salaryTableIndex != null  and salaryTableIndex != ''"> and Salary_Table_Index = #{salaryTableIndex}</if>
        </where>
    </select>

    <select id="selectEnterpriseManagementSalaryTableByEsId" parameterType="Long" resultMap="EnterpriseManagementSalaryTableResult">
        <include refid="selectEnterpriseManagementSalaryTableVo"/>
        where ES_ID = #{esId}
    </select>

    <insert id="insertEnterpriseManagementSalaryTable" parameterType="EnterpriseManagementSalaryTable" useGeneratedKeys="true" keyProperty="esId">
        insert into Enterprise_Management_Salary_Table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="salaryCalculationYearMonth != null">Salary_Calculation_Year_Month,</if>
            <if test="employeeId != null">Employee_Id,</if>
            <if test="name != null">Name,</if>
            <if test="position != null">Position,</if>
            <if test="department != null">Department,</if>
            <if test="fourthLevelOrgName != null">Fourth_Level_Org_Name,</if>
            <if test="groupCode != null">Group_Code,</if>
            <if test="subgroupCode != null">Subgroup_Code,</if>
            <if test="otherBonuses != null">Other_Bonuses,</if>
            <if test="overtimeSalary != null">Overtime_Salary,</if>
            <if test="totalSalary != null">Total_Salary,</if>
            <if test="salaryTableIndex != null">Salary_Table_Index,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="salaryCalculationYearMonth != null">#{salaryCalculationYearMonth},</if>
            <if test="employeeId != null">#{employeeId},</if>
            <if test="name != null">#{name},</if>
            <if test="position != null">#{position},</if>
            <if test="department != null">#{department},</if>
            <if test="fourthLevelOrgName != null">#{fourthLevelOrgName},</if>
            <if test="groupCode != null">#{groupCode},</if>
            <if test="subgroupCode != null">#{subgroupCode},</if>
            <if test="otherBonuses != null">#{otherBonuses},</if>
            <if test="overtimeSalary != null">#{overtimeSalary},</if>
            <if test="totalSalary != null">#{totalSalary},</if>
            <if test="salaryTableIndex != null">#{salaryTableIndex},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <!--  批量插入数据库  -->
    <insert id="batchInsertSalaryTable" parameterType="java.util.List">
        insert into Enterprise_Management_Salary_Table(Salary_Calculation_Year_Month,Employee_Id,Name,Position,Department,Fourth_Level_Org_Name,
        Group_Code,Subgroup_Code,Other_Bonuses,Overtime_Salary,Total_Salary,Salary_Table_Index,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME)
        VALUES
        <foreach collection="salaryTableList" item="item" separator=",">
            (#{item.salaryCalculationYearMonth},#{item.employeeId},#{item.name},#{item.position},#{item.department},#{item.fourthLevelOrgName},
             #{item.groupCode},#{item.subgroupCode},#{item.otherBonuses},#{item.overtimeSalary},#{item.totalSalary},#{item.salaryTableIndex},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
        Salary_Calculation_Year_Month = values(Salary_Calculation_Year_Month),Employee_Id = values(Employee_Id),
        Name = values(Name),Position = values(Position),Department = values(Department),Fourth_Level_Org_Name = values(Fourth_Level_Org_Name),Group_Code = values(Group_Code),
        Subgroup_Code = values(Subgroup_Code),Other_Bonuses = values(Other_Bonuses),Overtime_Salary = values(Overtime_Salary),Total_Salary = values(Total_Salary),
        Salary_Table_Index = values(Salary_Table_Index),CREATE_BY = values(CREATE_BY),CREATE_TIME = values(CREATE_TIME),
        UPDATE_BY = values(UPDATE_BY),UPDATE_TIME = values(UPDATE_TIME)

    </insert>


    <!--  清空数据库  -->
    <delete id="clearSalaryTableAllInfo">
        truncate table Enterprise_Management_Salary_Table
    </delete>


    <!--  批量插入数据库  -->
<!--    <insert id="batchInsertProductionTable" parameterType="java.util.List">-->
<!--        insert into Production_Table(CREATED_BY,CREATED_TIME,Acceptance_Date,Launch_Date,-->
<!--        Order_Number,Contract_Number,Car_Number,Vehicle_Model,-->
<!--        Door_Frame_Height,Amount,Accessory,Valve_Block,-->
<!--        Car_Configuration,Planned_Completion_Period,Customer,-->
<!--        Vehicle_Launch_Date,Completion_Period_Of_Door_Frame_Assembly,-->
<!--        Trial_Completion_Period,Special_Operations,Precision_Completion_Period,-->
<!--        Production_SiteIssues,Procurement_Of_On_site_Abnormal_Issues,-->
<!--        Quality_Of_On_site_Abnormal_Issues,Go_Live,Warehousing,Production_Cycle)-->
<!--        values-->
<!--        <foreach collection="productionTableList" item="e" separator=",">-->
<!--            (#{e.createdBy},#{e.createdTime},#{e.acceptanceDate},-->
<!--            #{e.launchDate},#{e.orderNumber},#{e.contractNumber},-->
<!--            #{e.carNumber},#{e.vehicleModel},#{e.doorFrameHeight},-->
<!--            #{e.amount},#{e.accessory},#{e.valveBlock},#{e.carConfiguration},-->
<!--            #{e.plannedCompletionPeriod},#{e.customer},#{e.vehicleLaunchDate},-->
<!--            #{e.completionPeriodOfDoorFrameAssembly},#{e.trialCompletionPeriod},-->
<!--            #{e.specialOperations},#{e.precisionCompletionPeriod},#{e.productionSiteIssues},-->
<!--            #{e.procurementOfOnSiteAbnormalIssues},#{e.qualityOfOnSiteAbnormalIssues},-->
<!--            #{e.goLive},#{e.warehousing},#{e.productionCycle})-->
<!--        </foreach>-->
<!--        ON DUPLICATE KEY UPDATE-->
<!--        CREATED_BY = values(CREATED_BY),CREATED_TIME =values(CREATED_TIME),Acceptance_Date = values(Acceptance_Date),Launch_Date =values(Launch_Date),-->
<!--        Order_Number =values(Order_Number),Contract_Number =values(Contract_Number),Vehicle_Model =values(Vehicle_Model),-->
<!--        Door_Frame_Height =values(Door_Frame_Height),Amount =values(Amount),Accessory =values(Accessory),Valve_Block =values(Valve_Block),-->
<!--        Car_Configuration =values(Car_Configuration),Planned_Completion_Period =values(Planned_Completion_Period),Customer =values(Customer),-->
<!--        Vehicle_Launch_Date =values(Vehicle_Launch_Date),Completion_Period_Of_Door_Frame_Assembly =values(Completion_Period_Of_Door_Frame_Assembly),-->
<!--        Trial_Completion_Period =values(Trial_Completion_Period),Special_Operations =values(Special_Operations),Precision_Completion_Period =values(Precision_Completion_Period),-->
<!--        Production_SiteIssues =values(Production_SiteIssues),Procurement_Of_On_site_Abnormal_Issues =values(Procurement_Of_On_site_Abnormal_Issues),-->
<!--        Quality_Of_On_site_Abnormal_Issues =values(Quality_Of_On_site_Abnormal_Issues),Go_Live =values(Go_Live),Warehousing =values(Warehousing),Production_Cycle =values(Production_Cycle)-->
<!--    </insert>-->


    <update id="updateEnterpriseManagementSalaryTable" parameterType="EnterpriseManagementSalaryTable">
        update Enterprise_Management_Salary_Table
        <trim prefix="SET" suffixOverrides=",">
            <if test="salaryCalculationYearMonth != null">Salary_Calculation_Year_Month = #{salaryCalculationYearMonth},</if>
            <if test="employeeId != null">Employee_Id = #{employeeId},</if>
            <if test="name != null">Name = #{name},</if>
            <if test="position != null">Position = #{position},</if>
            <if test="department != null">Department = #{department},</if>
            <if test="fourthLevelOrgName != null">Fourth_Level_Org_Name = #{fourthLevelOrgName},</if>
            <if test="groupCode != null">Group_Code = #{groupCode},</if>
            <if test="subgroupCode != null">Subgroup_Code = #{subgroupCode},</if>
            <if test="otherBonuses != null">Other_Bonuses = #{otherBonuses},</if>
            <if test="overtimeSalary != null">Overtime_Salary = #{overtimeSalary},</if>
            <if test="totalSalary != null">Total_Salary = #{totalSalary},</if>
            <if test="salaryTableIndex != null">Salary_Table_Index = #{salaryTableIndex},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where ES_ID = #{esId}
    </update>

    <delete id="deleteEnterpriseManagementSalaryTableByEsId" parameterType="Long">
        delete from Enterprise_Management_Salary_Table where ES_ID = #{esId}
    </delete>

    <delete id="deleteEnterpriseManagementSalaryTableByEsIds" parameterType="String">
        delete from Enterprise_Management_Salary_Table where ES_ID in
        <foreach item="esId" collection="array" open="(" separator="," close=")">
            #{esId}
        </foreach>
    </delete>
</mapper>