<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.enterprise.mapper.EnterpriseManagementDisplayMapper">

    <!-- 一线从业人数(实习生单列) 指标49 -->
    <select id="selectEmployeesNumber" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Employees_Number as employeesNumber
              from Enterprise_Management_Indicators_Monthly_Data
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>

    <!-- 公司平均从业人数（月度） 指标51 -->
    <select id="selectEmployeesAVGMonthlyNumber" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Employees_AVG_Monthly_Number as employeesAVGMonthlyNumber
              from Enterprise_Management_Indicators_Monthly_Data
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>

    <!-- 公司平均从业人数（年度） 指标51 -->
    <select id="selectEmployeesAVGAnnualNumber" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Employees_AVG_Annual_Number  as employeesAVGAnnualNumber
              from Enterprise_Management_Indicators_Monthly_Data
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>


    <!-- 工资总额年度占比 指标52 -->
    <select id="selectAnnualSalaryRatio" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Annual_Salary_Ratio as annualSalaryRatio
              from Enterprise_Management_Indicators_Monthly_Data
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>

    <!-- 累计人均收入 指标54 -->
    <select id="selectCumulativeAverageIncome" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Cumulative_Average_Income as cumulativeAverageIncome
              from Enterprise_Management_Indicators_Monthly_Data
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>

    <!-- 月度累计生产人均收入 指标55 -->
    <select id="selectMonthlyProductionAVGIncome" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Monthly_Production_AVG_Income as monthlyProductionAVGIncome
              from Enterprise_Management_Indicators_Monthly_Data
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>

    <!-- 月度累计职能人均收入 指标56 -->
    <select id="selectMonthlyFunctionalAVGIncome" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Monthly_Functional_AVG_Income as monthlyFunctionalAVGIncome
              from Enterprise_Management_Indicators_Monthly_Data
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>

    <!-- 职能部门人均加班费用 指标76 -->
    <select id="selectFunctionalDeptOvertimeCost" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Functional_Dept_Overtime_Cost as functionalDeptOvertimeCost
              from Enterprise_Management_Indicators_Monthly_Data
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>


    <resultMap type="EnterpriseManagementIndicatorsDailyClearingSettlement" id="EnterpriseManagementIndicatorsDailyClearingSettlementResult">
        <result property="edId"    column="ED_ID"    />
        <result property="yearAndMonth"    column="Year_And_Month"    />
        <result property="orderEntryDelayScore"    column="Order_Entry_Delay_Score"    />
        <result property="orderEntryDelayRatio"    column="Order_Entry_Delay_Ratio"    />
        <result property="shipmentDelayScore"    column="Shipment_Delay_Score"    />
        <result property="shipmentDelayRatio"    column="Shipment_Delay_Ratio"    />
        <result property="productionReportDelayScore"    column="Production_Report_Delay_Score"    />
        <result property="productionReportDelayRatio"    column="Production_Report_Delay_Ratio"    />
        <result property="inspectionDelayScore"    column="Inspection_Delay_Score"    />
        <result property="inspectionDelayRate"    column="Inspection_Delay_Rate"    />
        <result property="invoicePostingDelayScore"    column="Invoice_Posting_Delay_Score"    />
        <result property="invoicePostingDelayRate"    column="Invoice_Posting_Delay_Rate"    />
        <result property="unsettledAccountsScore"    column="Unsettled_Accounts_Score"    />
        <result property="unsettledAccountsRatio"    column="Unsettled_Accounts_Ratio"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
    </resultMap>

    <!-- 日清日结  -->
    <select id="selectDailyClearingSettlement" resultMap="EnterpriseManagementIndicatorsDailyClearingSettlementResult">
        select *
        from (  select Year_And_Month, Order_Entry_Delay_Score, Order_Entry_Delay_Ratio, Shipment_Delay_Score, Shipment_Delay_Ratio, Production_Report_Delay_Score, Production_Report_Delay_Ratio, Inspection_Delay_Score, Inspection_Delay_Rate, Invoice_Posting_Delay_Score, Invoice_Posting_Delay_Rate, Unsettled_Accounts_Score, Unsettled_Accounts_Ratio
                from Enterprise_Management_Indicators_Daily_Clearing_Settlement
                where Year_And_Month between #{startTime} and #{endTime}
                order by Year_And_Month DESC
             ) as t
        order by Year_And_Month ASC
    </select>


    <update id="updateEnterpriseManagementIndicatorsManagement" parameterType="EnterpriseManagementIndicatorsManagement">
        update Enterprise_Management_Indicators_Management
        <trim prefix="SET" suffixOverrides=",">
            <if test="yearAndMonth != null">Year_And_Month = #{yearAndMonth},</if>
            <if test="sdSalesordervalidityscore != null">SD_SalesOrderValidityScore = #{sdSalesordervalidityscore},</if>
            <if test="sdSalesordervalidity != null">SD_SalesOrderValidity = #{sdSalesordervalidity},</if>
            <if test="ppManualpocreationratioscore != null">PP_ManualPOCreationRatioScore = #{ppManualpocreationratioscore},</if>
            <if test="ppManualpocreationratio != null">PP_ManualPOCreationRatio = #{ppManualpocreationratio},</if>
            <if test="ppDeliveredunreportedratioscore != null">PP_DeliveredUnreportedRatioScore = #{ppDeliveredunreportedratioscore},</if>
            <if test="ppDeliveredunreportedratio != null">PP_DeliveredUnreportedRatio = #{ppDeliveredunreportedratio},</if>
            <if test="mesLateworkreportingscore != null">MES_LateWorkReportingScore = #{mesLateworkreportingscore},</if>
            <if test="mesLateworkreportingrate != null">MES_LateWorkReportingRate = #{mesLateworkreportingrate},</if>
            <if test="qmExternalinspectiondelayscore != null">QM_ExternalInspectionDelayScore = #{qmExternalinspectiondelayscore},</if>
            <if test="qmExternalinspectiondelay != null">QM_ExternalInspectionDelay = #{qmExternalinspectiondelay},</if>
            <if test="mmPurchaseorderlatedeliveryscore != null">MM_PurchaseOrderLateDeliveryScore = #{mmPurchaseorderlatedeliveryscore},</if>
            <if test="mmPurchaseorderlatedelivery != null">MM_PurchaseOrderLateDelivery = #{mmPurchaseorderlatedelivery},</if>
            <if test="mmManualpocreationscore != null">MM_ManualPOCreationScore = #{mmManualpocreationscore},</if>
            <if test="mmManualpocreation != null">MM_ManualPOCreation = #{mmManualpocreation},</if>
            <if test="mmUnsettledpurchaserequestsscore != null">MM_UnsettledPurchaseRequestsScore = #{mmUnsettledpurchaserequestsscore},</if>
            <if test="mmUnsettledpurchaserequests != null">MM_UnsettledPurchaseRequests = #{mmUnsettledpurchaserequests},</if>
            <if test="ficoMonthlystandardpricevariationscore != null">FICO_MonthlyStandardPriceVariationScore = #{ficoMonthlystandardpricevariationscore},</if>
            <if test="ficoMonthlystandardpricevariation != null">FICO_MonthlyStandardPriceVariation = #{ficoMonthlystandardpricevariation},</if>
            <if test="crossMonthProductionOrdersScore != null">CrossMonthProductionOrdersScore = #{crossMonthProductionOrdersScore},</if>
            <if test="crossMonthProductionOrders != null">CrossMonthProductionOrders = #{crossMonthProductionOrders},</if>
            <if test="pmLatemaintenanceordercompletionscore != null">PM_LateMaintenanceOrderCompletionScore = #{pmLatemaintenanceordercompletionscore},</if>
            <if test="pmLatemaintenanceordercompletion != null">PM_LateMaintenanceOrderCompletion = #{pmLatemaintenanceordercompletion},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where EM_ID = #{emId}
    </update>
    <!-- 11项管理指标 -->
    <select id="selectManagement" resultMap="EnterpriseManagementIndicatorsManagementResult">
        select *
        from (  select Year_And_Month, SD_SalesOrderValidityScore, SD_SalesOrderValidity, PP_ManualPOCreationRatioScore, PP_ManualPOCreationRatio, PP_DeliveredUnreportedRatioScore, PP_DeliveredUnreportedRatio, MES_LateWorkReportingScore, MES_LateWorkReportingRate, QM_ExternalInspectionDelayScore, QM_ExternalInspectionDelay, MM_PurchaseOrderLateDeliveryScore, MM_PurchaseOrderLateDelivery, MM_ManualPOCreationScore, MM_ManualPOCreation, MM_UnsettledPurchaseRequestsScore, MM_UnsettledPurchaseRequests, FICO_MonthlyStandardPriceVariationScore, FICO_MonthlyStandardPriceVariation, CrossMonthProductionOrdersScore, CrossMonthProductionOrders, PM_LateMaintenanceOrderCompletionScore, PM_LateMaintenanceOrderCompletion
                from Enterprise_Management_Indicators_Management
                where Year_And_Month between #{startTime} and #{endTime}
                order by Year_And_Month DESC
             ) as t
        order by Year_And_Month ASC
    </select>


</mapper>