<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.file.mapper.RegulationsInfoTableMapper">

    <resultMap type="RegulationsInfoTable" id="RegulationsInfoTableResult">
        <result property="regulationsId"    column="regulations_id"    />
        <result property="regulationsTitle"    column="regulations_title"    />
        <result property="useScope"    column="use_scope"    />
        <result property="uploadDate"    column="upload_date"    />
        <result property="effectiveDate"    column="effective_date"    />
        <result property="regulationsAddress"    column="regulations_address"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="createDate"    column="create_date"    />
        <result property="createUsername"    column="create_username"    />
        <result property="useState"    column="use_state"    />
        <result property="departmentCategory"    column="department_category"    />
        <result property="fileTag"    column="file_tag"    />
        <result property="oldRegulationsId"    column="old_regulations_id"    />
        <result property="revisionDate"    column="revision_date"    />
        <result property="revisionContent"    column="revision_content"    />
        <result property="reviser"    column="reviser"    />
    </resultMap>

    <sql id="selectRegulationsInfoTableVo">
        select regulations_id, regulations_title, use_scope, upload_date, effective_date, regulations_address, file_name, file_path, file_type, file_size, create_date, create_username, use_state, department_category, file_tag, old_regulations_id, revision_date, revision_content, reviser from Regulations_Info_table
    </sql>

    <select id="selectRegulationsInfoTableList" parameterType="RegulationsInfoTable" resultMap="RegulationsInfoTableResult">
        <include refid="selectRegulationsInfoTableVo"/>
        <where>
            <if test="regulationsTitle != null  and regulationsTitle != ''"> and regulations_title = #{regulationsTitle}</if>
            <if test="useScope != null  and useScope != ''"> and use_scope = #{useScope}</if>
            <if test="uploadDate != null "> and upload_date = #{uploadDate}</if>
            <if test="effectiveDate != null "> and effective_date = #{effectiveDate}</if>
            <if test="regulationsAddress != null  and regulationsAddress != ''"> and regulations_address = #{regulationsAddress}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="createUsername != null  and createUsername != ''"> and create_username = #{createUsername}</if>
            <if test="useState != null  and useState != ''"> and use_state = #{useState}</if>
            <if test="departmentCategory != null  and departmentCategory != ''"> and department_category = #{departmentCategory}</if>
            <if test="fileTag != null  and fileTag != ''"> and file_tag = #{fileTag}</if>
            <if test="oldRegulationsId != null "> and old_regulations_id = #{oldRegulationsId}</if>
            <if test="revisionDate != null "> and revision_date = #{revisionDate}</if>
            <if test="revisionContent != null  and revisionContent != ''"> and revision_content = #{revisionContent}</if>
            <if test="reviser != null  and reviser != ''"> and reviser = #{reviser}</if>
        </where>
    </select>

    <select id="selectRegulationsInfoTableByRegulationsId" parameterType="Long" resultMap="RegulationsInfoTableResult">
        <include refid="selectRegulationsInfoTableVo"/>
        where regulations_id = #{regulationsId}
    </select>

    <insert id="insertRegulationsInfoTable" parameterType="RegulationsInfoTable" useGeneratedKeys="true" keyProperty="regulationsId">
        insert into Regulations_Info_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regulationsTitle != null and regulationsTitle != ''">regulations_title,</if>
            <if test="useScope != null and useScope != ''">use_scope,</if>
            <if test="uploadDate != null">upload_date,</if>
            <if test="effectiveDate != null">effective_date,</if>
            <if test="regulationsAddress != null and regulationsAddress != ''">regulations_address,</if>
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="fileType != null and fileType != ''">file_type,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createUsername != null and createUsername != ''">create_username,</if>
            <if test="useState != null and useState != ''">use_state,</if>
            <if test="departmentCategory != null and departmentCategory != ''">department_category,</if>
            <if test="fileTag != null">file_tag,</if>
            <if test="oldRegulationsId != null">old_regulations_id,</if>
            <if test="revisionDate != null">revision_date,</if>
            <if test="revisionContent != null">revision_content,</if>
            <if test="reviser != null">reviser,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regulationsTitle != null and regulationsTitle != ''">#{regulationsTitle},</if>
            <if test="useScope != null and useScope != ''">#{useScope},</if>
            <if test="uploadDate != null">#{uploadDate},</if>
            <if test="effectiveDate != null">#{effectiveDate},</if>
            <if test="regulationsAddress != null and regulationsAddress != ''">#{regulationsAddress},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="fileType != null and fileType != ''">#{fileType},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createUsername != null and createUsername != ''">#{createUsername},</if>
            <if test="useState != null and useState != ''">#{useState},</if>
            <if test="departmentCategory != null and departmentCategory != ''">#{departmentCategory},</if>
            <if test="fileTag != null">#{fileTag},</if>
            <if test="oldRegulationsId != null">#{oldRegulationsId},</if>
            <if test="revisionDate != null">#{revisionDate},</if>
            <if test="revisionContent != null">#{revisionContent},</if>
            <if test="reviser != null">#{reviser},</if>
        </trim>
    </insert>

    <update id="updateRegulationsInfoTable" parameterType="RegulationsInfoTable">
        update Regulations_Info_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="regulationsTitle != null and regulationsTitle != ''">regulations_title = #{regulationsTitle},</if>
            <if test="useScope != null and useScope != ''">use_scope = #{useScope},</if>
            <if test="uploadDate != null">upload_date = #{uploadDate},</if>
            <if test="effectiveDate != null">effective_date = #{effectiveDate},</if>
            <if test="regulationsAddress != null and regulationsAddress != ''">regulations_address = #{regulationsAddress},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="fileType != null and fileType != ''">file_type = #{fileType},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createUsername != null and createUsername != ''">create_username = #{createUsername},</if>
            <if test="useState != null and useState != ''">use_state = #{useState},</if>
            <if test="departmentCategory != null and departmentCategory != ''">department_category = #{departmentCategory},</if>
            <if test="fileTag != null">file_tag = #{fileTag},</if>
            <if test="oldRegulationsId != null">old_regulations_id = #{oldRegulationsId},</if>
            <if test="revisionDate != null">revision_date = #{revisionDate},</if>
            <if test="revisionContent != null">revision_content = #{revisionContent},</if>
            <if test="reviser != null">reviser = #{reviser},</if>
        </trim>
        where regulations_id = #{regulationsId}
    </update>

    <delete id="deleteRegulationsInfoTableByRegulationsId" parameterType="Long">
        delete from Regulations_Info_table where regulations_id = #{regulationsId}
    </delete>

    <delete id="deleteRegulationsInfoTableByRegulationsIds" parameterType="String">
        delete from Regulations_Info_table where regulations_id in
        <foreach item="regulationsId" collection="array" open="(" separator="," close=")">
            #{regulationsId}
        </foreach>
    </delete>
</mapper>