<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.financial.mapper.FinancialTempTableMapper">

    <resultMap type="FinancialTempTable" id="FinancialTempTableResult">
        <result property="ftId"    column="FT_id"    />
        <result property="rowName"    column="Row_Name"    />
        <result property="columnNum"    column="Column_Num"    />
    </resultMap>

    <sql id="selectFinancialTempTableVo">
        select FT_id, Row_Name, Column_Num from Financial_Temp_Table
    </sql>


    <!--  清空数据库  -->
    <delete id="clearTempTable">
        truncate table Financial_Temp_Table
    </delete>



    <insert id="batchInsertTempTable" parameterType="java.util.List">
        insert into Financial_Temp_Table(Row_Name,Column_Num)
        values
            <foreach collection="tempTableList" item="e" separator=",">
                (#{e.rowName},#{e.columnNum})
            </foreach>
        ON DUPLICATE KEY UPDATE
         Row_Name = values(Row_Name),Column_Num = values(Column_Num)
    </insert>
    <!--  批量插入数据库  -->
    <insert id="batchInsertSalaryTable" parameterType="java.util.List">
        insert into Enterprise_Management_Salary_Table(Salary_Calculation_Year_Month,Employee_Id,Name,Position,Department,
        Group_Code,Subgroup_Code,Overtime_Salary,Total_Salary,Salary_Table_Index,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME)
        VALUES
        <foreach collection="salaryTableList" item="item" separator=",">
            (#{item.salaryCalculationYearMonth},#{item.employeeId},#{item.name},#{item.position},#{item.department},
            #{item.groupCode},#{item.subgroupCode},#{item.overtimeSalary},#{item.totalSalary},#{item.salaryTableIndex},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
        Salary_Calculation_Year_Month = values(Salary_Calculation_Year_Month),Employee_Id = values(Employee_Id),
        Name = values(Name),Position = values(Position),Department = values(Department),Group_Code = values(Group_Code),
        Subgroup_Code = values(Subgroup_Code),Overtime_Salary = values(Overtime_Salary),Total_Salary = values(Total_Salary),
        Salary_Table_Index = values(Salary_Table_Index),CREATE_BY = values(CREATE_BY),CREATE_TIME = values(CREATE_TIME),
        UPDATE_BY = values(UPDATE_BY),UPDATE_TIME = values(UPDATE_TIME)

    </insert>




    <select id="selectFinancialTempTableList" parameterType="FinancialTempTable" resultMap="FinancialTempTableResult">
        <include refid="selectFinancialTempTableVo"/>
        <where>
            <if test="rowName != null  and rowName != ''"> and Row_Name like concat('%', #{rowName}, '%')</if>
            <if test="columnNum != null "> and Column_Num = #{columnNum}</if>
        </where>
    </select>

    <select id="selectFinancialTempTableByFtId" parameterType="Long" resultMap="FinancialTempTableResult">
        <include refid="selectFinancialTempTableVo"/>
        where FT_id = #{ftId}
    </select>

    <select id="selectAmountByName" resultType="String">
        select Column_Num
        from Financial_Temp_Table
        where Row_Name = #{rowName}
    </select>

    <insert id="insertFinancialTempTable" parameterType="FinancialTempTable" useGeneratedKeys="true" keyProperty="ftId">
        insert into Financial_Temp_Table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rowName != null">Row_Name,</if>
            <if test="columnNum != null">Column_Num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rowName != null">#{rowName},</if>
            <if test="columnNum != null">#{columnNum},</if>
        </trim>
    </insert>




    <update id="updateFinancialTempTable" parameterType="FinancialTempTable">
        update Financial_Temp_Table
        <trim prefix="SET" suffixOverrides=",">
            <if test="rowName != null">Row_Name = #{rowName},</if>
            <if test="columnNum != null">Column_Num = #{columnNum},</if>
        </trim>
        where FT_id = #{ftId}
    </update>

    <delete id="deleteFinancialTempTableByFtId" parameterType="Long">
        delete from Financial_Temp_Table where FT_id = #{ftId}
    </delete>

    <delete id="deleteFinancialTempTableByFtIds" parameterType="String">
        delete from Financial_Temp_Table where FT_id in
        <foreach item="ftId" collection="array" open="(" separator="," close=")">
            #{ftId}
        </foreach>
    </delete>
</mapper>