<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.financial.mapper.FinancialIndicatorsHandfillTableMapper">

    <resultMap type="FinancialIndicatorsHandfillTable" id="FinancialIndicatorsHandfillTableResult">
        <result property="fihfId" column="FIHF_id"/>
        <result property="yearAndMonth" column="Year_And_Month"/>
        <result property="totalSalesRevenue" column="Total_Sales_Revenue"/>
        <result property="externalGroupSalesRevenue" column="External_Group_Sales_Revenue"/>
        <result property="totalVehicleProduction" column="Total_Vehicle_Production"/>
        <result property="totalVehicleSales" column="Total_Vehicle_Sales"/>
        <result property="newProductSalesRevenue" column="New_Product_Sales_Revenue"/>
        <result property="specialtyProductRevenue" column="Specialty_Product_Revenue"/>
        <result property="totalSalesCost" column="Total_Sales_Cost"/>
        <result property="manufacturingExpensesMonth" column="Manufacturing_Expenses_Month"/>
        <result property="reserveCarAmount" column="Reserve_Car_Amount"/>
        <result property="capitalTurnoverRate" column="Capital_Turnover_Rate"/>
        <result property="inventoryTurnoverRate" column="Inventory_Turnover_Rate"/>
        <result property="rawMaterialTurnoverRate" column="Raw_Material_Turnover_Rate"/>
        <result property="inprogressTurnoverRate" column="InProgress_Turnover_Rate"/>
        <result property="longEstimatedItems" column="Long_Estimated_Items"/>
        <result property="inprogressDayrevenue" column="InProgress_DayRevenue"/>
        <result property="addedValueMonthly" column="Added_Value_Monthly"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <sql id="selectFinancialIndicatorsHandfillTableVo">
        select FIHF_id,
               Year_And_Month,
               Total_Sales_Revenue,
               External_Group_Sales_Revenue,
               Total_Vehicle_Production,
               Total_Vehicle_Sales,
               New_Product_Sales_Revenue,
               Specialty_Product_Revenue,
               Total_Sales_Cost,
               Manufacturing_Expenses_Month,
               Reserve_Car_Amount,
               Capital_Turnover_Rate,
               Inventory_Turnover_Rate,
               Raw_Material_Turnover_Rate,
               InProgress_Turnover_Rate,
               Long_Estimated_Items,
               InProgress_DayRevenue,
               Added_Value_Monthly,
               CREATE_BY,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_TIME
        from Financial_Indicators_HandFill_table
    </sql>


    <select id="selectAllHandFillYearAndMonth" parameterType="Date" resultType="map">
        select * from (
            select Year_And_Month from Financial_Indicators_HandFill_table
            order by Year_And_Month DESC
        ) as t
        order by Year_And_Month ASC
    </select>


    <select id="checkHandFillDataIsExisted" parameterType="Date" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM Financial_Indicators_HandFill_table WHERE Year_And_Month=#{yearAndMonth})
    </select>

    <select id="checkDataExists" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM Financial_Indicators_HandFill_table)
    </select>

    <!--  查询已上传数据的最大月份  -->
    <select id="selectMaxYearAndMonth" resultType="Date">
        select max(Year_And_Month) from Financial_Indicators_HandFill_table
    </select>

    <!--  按年月查询手动填报数据  -->
    <select id="selectFinancialIndicatorsHandfillTableByYearAndMonth" parameterType="Date" resultMap="FinancialIndicatorsHandfillTableResult">
        <include refid="selectFinancialIndicatorsHandfillTableVo"/>
        where Year_And_Month=#{yearAndMonth}
    </select>

    <!--  首页数据展示  -->
    <select id="selectHandfillSumInfoByYear" parameterType="Date" resultType="com.heli.financial.domain.FinancialIndicatorsHandfillTable">
        SELECT MAX(FIHF_id)                      fihfId,
               MAX(Year_And_Month)               yearAndMonth,
               sum(Total_Sales_Revenue)          totalSalesRevenue,
               sum(External_Group_Sales_Revenue) externalGroupSalesRevenue,
               sum(Total_Vehicle_Production)     totalVehicleProduction,
               sum(Total_Vehicle_Sales)          totalVehicleSales,
               sum(New_Product_Sales_Revenue)    newProductSalesRevenue,
               sum(Specialty_Product_Revenue)    specialtyProductRevenue,
               sum(Total_Sales_Cost)             totalSalesCost,
               sum(Manufacturing_Expenses_Month) manufacturingExpensesMonth,
               sum(Reserve_Car_Amount)           reserveCarAmount,
               sum(Capital_Turnover_Rate)        capitalTurnoverRate,
               sum(Inventory_Turnover_Rate)      inventoryTurnoverRate,
               sum(Raw_Material_Turnover_Rate)   rawMaterialTurnoverRate,
               sum(InProgress_Turnover_Rate)     inprogressTurnoverRate,
               sum(Long_Estimated_Items)         longEstimatedItems,
               sum(InProgress_DayRevenue)        inprogressDayrevenue,
               sum(Added_Value_Monthly)          addedValueMonthly
        FROM Financial_Indicators_HandFill_table
        WHERE date_format(Year_And_Month,'%Y') = date_format(#{yearAndMonth},'%Y')
    </select>
    <!--  首页数据展示  -->
    <select id="selectHandfillRateByYear" parameterType="Date" resultType="com.heli.financial.domain.FinancialIndicatorsHandfillTable">
        SELECT FIHF_id                      fihfId,
               Year_And_Month               yearAndMonth,
               Capital_Turnover_Rate        capitalTurnoverRate,
               Inventory_Turnover_Rate      inventoryTurnoverRate,
               Raw_Material_Turnover_Rate   rawMaterialTurnoverRate,
               InProgress_Turnover_Rate     inprogressTurnoverRate
        FROM Financial_Indicators_HandFill_table
        WHERE Year_And_Month IN (
            SELECT MAX(Year_And_Month)
            FROM Financial_Indicators_HandFill_table
            WHERE YEAR(Year_And_Month) = YEAR(#{yearAndMonth}) and Inventory_Turnover_Rate is not null
        )
    </select>



    <select id="selectFinancialIndicatorsHandfillTableList" parameterType="FinancialIndicatorsHandfillTable"
            resultMap="FinancialIndicatorsHandfillTableResult">
        <include refid="selectFinancialIndicatorsHandfillTableVo"/>
        <where>
            <if test="totalSalesRevenue != null ">and Total_Sales_Revenue = #{totalSalesRevenue}</if>
            <if test="externalGroupSalesRevenue != null ">and External_Group_Sales_Revenue = #{externalGroupSalesRevenue}</if>
            <if test="totalVehicleProduction != null ">and Total_Vehicle_Production = #{totalVehicleProduction}</if>
            <if test="totalVehicleSales != null ">and Total_Vehicle_Sales = #{totalVehicleSales}</if>
            <if test="newProductSalesRevenue != null ">and New_Product_Sales_Revenue = #{newProductSalesRevenue}</if>
            <if test="specialtyProductRevenue != null ">and Specialty_Product_Revenue = #{specialtyProductRevenue}</if>
            <if test="totalSalesCost != null ">and Total_Sales_Cost = #{totalSalesCost}</if>
            <if test="manufacturingExpensesMonth != null ">and Manufacturing_Expenses_Month = #{manufacturingExpensesMonth}</if>
            <if test="reserveCarAmount != null ">and Reserve_Car_Amount = #{reserveCarAmount}</if>
            <if test="capitalTurnoverRate != null ">and Capital_Turnover_Rate = #{capitalTurnoverRate}</if>
            <if test="inventoryTurnoverRate != null ">and Inventory_Turnover_Rate = #{inventoryTurnoverRate}</if>
            <if test="rawMaterialTurnoverRate != null ">and Raw_Material_Turnover_Rate = #{rawMaterialTurnoverRate}</if>
            <if test="inprogressTurnoverRate != null ">and InProgress_Turnover_Rate = #{inprogressTurnoverRate}</if>
            <if test="longEstimatedItems != null ">and Long_Estimated_Items = #{longEstimatedItems}</if>
            <if test="inprogressDayrevenue != null ">and InProgress_DayRevenue = #{inprogressDayrevenue}</if>
            <if test="addedValueMonthly != null ">and Added_Value_Monthly = #{addedValueMonthly}</if>
            <if test="createBy != null  and createBy != ''">and CREATE_BY = #{createBy}</if>
            <if test="createTime != null ">and CREATE_TIME = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''">and UPDATE_BY = #{updateBy}</if>
            <if test="updateTime != null ">and UPDATE_TIME = #{updateTime}</if>
        </where>
        order by Year_And_Month DESC
    </select>

    <select id="selectFinancialIndicatorsHandfillTableByFihfId" parameterType="Long"
            resultMap="FinancialIndicatorsHandfillTableResult">
        <include refid="selectFinancialIndicatorsHandfillTableVo"/>
        where FIHF_id = #{fihfId}
    </select>

    <insert id="insertFinancialIndicatorsHandfillTable" parameterType="FinancialIndicatorsHandfillTable">
        insert into Financial_Indicators_HandFill_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fihfId != null">FIHF_id,</if>
            <if test="yearAndMonth != null">Year_And_Month,</if>
            <if test="totalSalesRevenue != null">Total_Sales_Revenue,</if>
            <if test="externalGroupSalesRevenue != null">External_Group_Sales_Revenue,</if>
            <if test="totalVehicleProduction != null">Total_Vehicle_Production,</if>
            <if test="totalVehicleSales != null">Total_Vehicle_Sales,</if>
            <if test="newProductSalesRevenue != null">New_Product_Sales_Revenue,</if>
            <if test="specialtyProductRevenue != null">Specialty_Product_Revenue,</if>
            <if test="totalSalesCost != null">Total_Sales_Cost,</if>
            <if test="manufacturingExpensesMonth != null">Manufacturing_Expenses_Month,</if>
            <if test="reserveCarAmount != null">Reserve_Car_Amount,</if>
            <if test="capitalTurnoverRate != null">Capital_Turnover_Rate,</if>
            <if test="inventoryTurnoverRate != null">Inventory_Turnover_Rate,</if>
            <if test="rawMaterialTurnoverRate != null">Raw_Material_Turnover_Rate,</if>
            <if test="inprogressTurnoverRate != null">InProgress_Turnover_Rate,</if>
            <if test="longEstimatedItems != null">Long_Estimated_Items,</if>
            <if test="inprogressDayrevenue != null">InProgress_DayRevenue,</if>
            <if test="addedValueMonthly != null">Added_Value_Monthly,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fihfId != null">#{fihfId},</if>
            <if test="yearAndMonth != null">#{yearAndMonth},</if>
            <if test="totalSalesRevenue != null">#{totalSalesRevenue},</if>
            <if test="externalGroupSalesRevenue != null">#{externalGroupSalesRevenue},</if>
            <if test="totalVehicleProduction != null">#{totalVehicleProduction},</if>
            <if test="totalVehicleSales != null">#{totalVehicleSales},</if>
            <if test="newProductSalesRevenue != null">#{newProductSalesRevenue},</if>
            <if test="specialtyProductRevenue != null">#{specialtyProductRevenue},</if>
            <if test="totalSalesCost != null">#{totalSalesCost},</if>
            <if test="manufacturingExpensesMonth != null">#{manufacturingExpensesMonth},</if>
            <if test="reserveCarAmount != null">#{reserveCarAmount},</if>
            <if test="capitalTurnoverRate != null">#{capitalTurnoverRate},</if>
            <if test="inventoryTurnoverRate != null">#{inventoryTurnoverRate},</if>
            <if test="rawMaterialTurnoverRate != null">#{rawMaterialTurnoverRate},</if>
            <if test="inprogressTurnoverRate != null">#{inprogressTurnoverRate},</if>
            <if test="longEstimatedItems != null">#{longEstimatedItems},</if>
            <if test="inprogressDayrevenue != null">#{inprogressDayrevenue},</if>
            <if test="addedValueMonthly != null">#{addedValueMonthly},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateFinancialIndicatorsHandfillTable" parameterType="FinancialIndicatorsHandfillTable">
        update Financial_Indicators_HandFill_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="yearAndMonth != null">Year_And_Month = #{yearAndMonth},</if>
            <if test="totalSalesRevenue != null">Total_Sales_Revenue = #{totalSalesRevenue},</if>
            <if test="externalGroupSalesRevenue != null">External_Group_Sales_Revenue = #{externalGroupSalesRevenue},</if>
            <if test="totalVehicleProduction != null">Total_Vehicle_Production = #{totalVehicleProduction},</if>
            <if test="totalVehicleSales != null">Total_Vehicle_Sales = #{totalVehicleSales},</if>
            <if test="newProductSalesRevenue != null">New_Product_Sales_Revenue = #{newProductSalesRevenue},</if>
            <if test="specialtyProductRevenue != null">Specialty_Product_Revenue = #{specialtyProductRevenue},</if>
            <if test="totalSalesCost != null">Total_Sales_Cost = #{totalSalesCost},</if>
            <if test="manufacturingExpensesMonth != null">Manufacturing_Expenses_Month = #{manufacturingExpensesMonth},</if>
            <if test="reserveCarAmount != null">Reserve_Car_Amount = #{reserveCarAmount},</if>
            <if test="capitalTurnoverRate != null">Capital_Turnover_Rate = #{capitalTurnoverRate},</if>
            <if test="inventoryTurnoverRate != null">Inventory_Turnover_Rate = #{inventoryTurnoverRate},</if>
            <if test="rawMaterialTurnoverRate != null">Raw_Material_Turnover_Rate = #{rawMaterialTurnoverRate},</if>
            <if test="inprogressTurnoverRate != null">InProgress_Turnover_Rate = #{inprogressTurnoverRate},</if>
            <if test="longEstimatedItems != null">Long_Estimated_Items = #{longEstimatedItems},</if>
            <if test="inprogressDayrevenue != null">InProgress_DayRevenue = #{inprogressDayrevenue},</if>
            <if test="addedValueMonthly != null">Added_Value_Monthly = #{addedValueMonthly},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where FIHF_id = #{fihfId}
    </update>

    <delete id="deleteFinancialIndicatorsHandfillTableByFihfId" parameterType="Long">
        delete
        from Financial_Indicators_HandFill_table
        where FIHF_id = #{fihfId}
    </delete>

    <delete id="deleteFinancialIndicatorsHandfillTableByFihfIds" parameterType="String">
        delete from Financial_Indicators_HandFill_table where FIHF_id in
        <foreach item="fihfId" collection="array" open="(" separator="," close=")">
            #{fihfId}
        </foreach>
    </delete>
</mapper>
