<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.financial.mapper.FinancialBalanceTableMapper">

    <resultMap type="FinancialBalanceTable" id="FinancialBalanceTableResult">
        <result property="fbId"    column="FB_ID"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="yearAndMonth"    column="Year_And_Month"    />
        <result property="inTransitInventory"    column="InTransitInventory"    />
        <result property="materials"    column="Materials"    />
        <result property="materialCostVariance"    column="MaterialCostVariance"    />
        <result property="materialCostVarianceUnallocated"    column="MaterialCostVariance_Unallocated"    />
        <result property="monthlyRawMaterialInventory"    column="MonthlyRawMaterialInventory"    />
        <result property="workInProgressSemiFinishedGoods"    column="WorkInProgress_SemiFinishedGoods"    />
        <result property="productCostVarianceSemiFinishedGoods"    column="ProductCostVariance_SemiFinishedGoods"    />
        <result property="workInProgressEndOfMonth"    column="WorkInProgress_EndOfMonth"    />
        <result property="monthlyWorkInProgressInventory"    column="MonthlyWorkInProgressInventory"    />
        <result property="inventoryVehicles"    column="Inventory_Vehicles"    />
        <result property="pcvFinished"    column="PCV_Finished"    />
        <result property="monthAmountInStock"    column="Month_Amount_InStock"    />
        <result property="monthlyInventoryTotalAmount"    column="MonthlyInventoryTotalAmount"    />
        <result property="growthRateInventory"    column="GrowthRate_Inventory"    />
        <result property="lowValueConsumablesAmount"    column="Low_Value_Consumables_Amount"    />
        <result property="receivables"    column="Receivables"    />
        <result property="turnoverRateReceivable"    column="TurnoverRate_Receivable"    />
    </resultMap>

    <sql id="selectFinancialBalanceTableVo">
        select FB_ID, CREATE_BY, CREATE_TIME, Year_And_Month, InTransitInventory, Materials, MaterialCostVariance, MaterialCostVariance_Unallocated, MonthlyRawMaterialInventory, WorkInProgress_SemiFinishedGoods, ProductCostVariance_SemiFinishedGoods, WorkInProgress_EndOfMonth, MonthlyWorkInProgressInventory, Inventory_Vehicles, PCV_Finished, Month_Amount_InStock, MonthlyInventoryTotalAmount, GrowthRate_Inventory, Low_Value_Consumables_Amount, Receivables, TurnoverRate_Receivable from Financial_Balance_table
    </sql>

    <select id="selectFinancialBalanceTableList" parameterType="FinancialBalanceTable" resultMap="FinancialBalanceTableResult">
        <include refid="selectFinancialBalanceTableVo"/>
        <where>
            <if test="createBy != null  and createBy != ''"> and CREATE_BY = #{createBy}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="yearAndMonth != null "> and Year_And_Month = #{yearAndMonth}</if>
            <if test="inTransitInventory != null "> and InTransitInventory = #{inTransitInventory}</if>
            <if test="materials != null "> and Materials = #{materials}</if>
            <if test="materialCostVariance != null "> and MaterialCostVariance = #{materialCostVariance}</if>
            <if test="materialCostVarianceUnallocated != null "> and MaterialCostVariance_Unallocated = #{materialCostVarianceUnallocated}</if>
            <if test="monthlyRawMaterialInventory != null "> and MonthlyRawMaterialInventory = #{monthlyRawMaterialInventory}</if>
            <if test="workInProgressSemiFinishedGoods != null "> and WorkInProgress_SemiFinishedGoods = #{workInProgressSemiFinishedGoods}</if>
            <if test="productCostVarianceSemiFinishedGoods != null "> and ProductCostVariance_SemiFinishedGoods = #{productCostVarianceSemiFinishedGoods}</if>
            <if test="workInProgressEndOfMonth != null "> and WorkInProgress_EndOfMonth = #{workInProgressEndOfMonth}</if>
            <if test="monthlyWorkInProgressInventory != null "> and MonthlyWorkInProgressInventory = #{monthlyWorkInProgressInventory}</if>
            <if test="inventoryVehicles != null "> and Inventory_Vehicles = #{inventoryVehicles}</if>
            <if test="pcvFinished != null "> and PCV_Finished = #{pcvFinished}</if>
            <if test="monthAmountInStock != null "> and Month_Amount_InStock = #{monthAmountInStock}</if>
            <if test="monthlyInventoryTotalAmount != null "> and MonthlyInventoryTotalAmount = #{monthlyInventoryTotalAmount}</if>
            <if test="growthRateInventory != null "> and GrowthRate_Inventory = #{growthRateInventory}</if>
            <if test="lowValueConsumablesAmount != null "> and Low_Value_Consumables_Amount = #{lowValueConsumablesAmount}</if>
            <if test="receivables != null "> and Receivables = #{receivables}</if>
            <if test="turnoverRateReceivable != null "> and TurnoverRate_Receivable = #{turnoverRateReceivable}</if>
        </where>
        order by Year_And_Month DESC
    </select>

    <select id="checkDataExists" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM Financial_Balance_table)
    </select>

    <!--  首页数据展示  -->
<!--    <select id="selectBalanceSumInfoByYear" parameterType="Date" resultType="com.heli.financial.domain.FinancialBalanceTable">-->
<!--        SELECT MAX(FB_ID)                                 fbId,-->
<!--               MAX(Year_And_Month)                        yearAndMonth,-->
<!--               sum(InTransitInventory)                    inTransitInventory,-->
<!--               sum(Materials)                             materials,-->
<!--               sum(MaterialCostVariance)                  materialCostVariance,-->
<!--               sum(MaterialCostVariance_Unallocated)      materialCostVarianceUnallocated,-->
<!--               sum(MonthlyRawMaterialInventory)           monthlyRawMaterialInventory,-->
<!--               sum(WorkInProgress_SemiFinishedGoods)      workInProgressSemiFinishedGoods,-->
<!--               sum(ProductCostVariance_SemiFinishedGoods) productCostVarianceSemiFinishedGoods,-->
<!--               sum(WorkInProgress_EndOfMonth)             workInProgressEndOfMonth,-->
<!--               sum(MonthlyWorkInProgressInventory)        monthlyWorkInProgressInventory,-->
<!--               sum(Inventory_Vehicles)                    inventoryVehicles,-->
<!--               sum(PCV_Finished)                          pcvFinished,-->
<!--               sum(Month_Amount_InStock)                  monthAmountInStock,-->
<!--               sum(MonthlyInventoryTotalAmount)           monthlyInventoryTotalAmount,-->
<!--               min(GrowthRate_Inventory)                  growthRateInventory,-->
<!--               max(GrowthRate_Sales)                      growthRateSales,-->
<!--               sum(Receivables)                           receivables,-->
<!--               sum(TurnoverRate_Receivable)               turnoverRateReceivable-->
<!--        FROM Financial_Balance_table-->
<!--        WHERE date_format(Year_And_Month, '%Y') = date_format(#{yearAndMonth}, '%Y')-->
<!--    </select>-->


    <!--  首页数据展示、计算  -->
    <select id="selectBalanceSumRateByYear" resultType="com.heli.financial.domain.FinancialBalanceTable">
        SELECT FB_ID                               fbId,
               Year_And_Month                      yearAndMonth,
               GrowthRate_Inventory                  growthRateInventory,
               TurnoverRate_Receivable               turnoverRateReceivable
        FROM Financial_Balance_table
        where Year_And_Month IN (
            SELECT MAX(Year_And_Month)
            FROM Financial_Balance_table
            where TurnoverRate_Receivable is not null
        )
    </select>
    <!--  获取年月最大的其他数据  -->
    <select id="selectMaxMonthBalance" resultMap="FinancialBalanceTableResult">
        <include refid="selectFinancialBalanceTableVo"/>
        where Year_And_Month IN (
            SELECT MAX(Year_And_Month)
            FROM Financial_Balance_table
        )
    </select>



    <!--  按月查询MonthlyInventoryTotalAmount  -->
    <select id="selectMonthlyInventoryTotalAmountByYearAndMonth" resultType="java.math.BigDecimal">
        select MonthlyInventoryTotalAmount from Financial_Balance_table
        where date_format(Year_And_Month,'%y-%m') = date_format(#{yearAndMonth},'%y-%m')
    </select>

    <select id="checkBalanceDataIsExisted" parameterType="Date" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM Financial_Balance_table WHERE Year_And_Month=#{yearAndMonth})
    </select>

    <!--  查询已上传数据的最大月份  -->
    <select id="selectMaxYearAndMonth" resultType="Date">
        select max(Year_And_Month) from Financial_Balance_table
    </select>

    <!--  按年月查询  -->
    <select id="selectFinancialBalanceTableByYearAndMonth" parameterType="Date" resultMap="FinancialBalanceTableResult">
        <include refid="selectFinancialBalanceTableVo"/>
        where Year_And_Month = #{yearAndMonth}
    </select>

    <!--  查询资产负债表已上传的全部月份  -->
    <select id="selectAllBalanceYearAndMonth" parameterType="Date" resultType="FinancialBalanceTable">
        select * from (
            select Year_And_Month from Financial_Balance_table
            order by Year_And_Month DESC
        ) as t
        order by Year_And_Month ASC
    </select>



    <insert id="insertFinancialBalanceTable" parameterType="FinancialBalanceTable" useGeneratedKeys="true" keyProperty="fbId">
        insert into Financial_Balance_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="yearAndMonth != null">Year_And_Month,</if>
            <if test="inTransitInventory != null">InTransitInventory,</if>
            <if test="materials != null">Materials,</if>
            <if test="materialCostVariance != null">MaterialCostVariance,</if>
            <if test="materialCostVarianceUnallocated != null">MaterialCostVariance_Unallocated,</if>
            <if test="monthlyRawMaterialInventory != null">MonthlyRawMaterialInventory,</if>
            <if test="workInProgressSemiFinishedGoods != null">WorkInProgress_SemiFinishedGoods,</if>
            <if test="productCostVarianceSemiFinishedGoods != null">ProductCostVariance_SemiFinishedGoods,</if>
            <if test="workInProgressEndOfMonth != null">WorkInProgress_EndOfMonth,</if>
            <if test="monthlyWorkInProgressInventory != null">MonthlyWorkInProgressInventory,</if>
            <if test="inventoryVehicles != null">Inventory_Vehicles,</if>
            <if test="pcvFinished != null">PCV_Finished,</if>
            <if test="monthAmountInStock != null">Month_Amount_InStock,</if>
            <if test="monthlyInventoryTotalAmount != null">MonthlyInventoryTotalAmount,</if>
            <if test="growthRateInventory != null">GrowthRate_Inventory,</if>
            <if test="lowValueConsumablesAmount != null">Low_Value_Consumables_Amount,</if>
            <if test="receivables != null">Receivables,</if>
            <if test="turnoverRateReceivable != null">TurnoverRate_Receivable,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="yearAndMonth != null">#{yearAndMonth},</if>
            <if test="inTransitInventory != null">#{inTransitInventory},</if>
            <if test="materials != null">#{materials},</if>
            <if test="materialCostVariance != null">#{materialCostVariance},</if>
            <if test="materialCostVarianceUnallocated != null">#{materialCostVarianceUnallocated},</if>
            <if test="monthlyRawMaterialInventory != null">#{monthlyRawMaterialInventory},</if>
            <if test="workInProgressSemiFinishedGoods != null">#{workInProgressSemiFinishedGoods},</if>
            <if test="productCostVarianceSemiFinishedGoods != null">#{productCostVarianceSemiFinishedGoods},</if>
            <if test="workInProgressEndOfMonth != null">#{workInProgressEndOfMonth},</if>
            <if test="monthlyWorkInProgressInventory != null">#{monthlyWorkInProgressInventory},</if>
            <if test="inventoryVehicles != null">#{inventoryVehicles},</if>
            <if test="pcvFinished != null">#{pcvFinished},</if>
            <if test="monthAmountInStock != null">#{monthAmountInStock},</if>
            <if test="monthlyInventoryTotalAmount != null">#{monthlyInventoryTotalAmount},</if>
            <if test="growthRateInventory != null">#{growthRateInventory},</if>
            <if test="lowValueConsumablesAmount != null">#{lowValueConsumablesAmount},</if>
            <if test="receivables != null">#{receivables},</if>
            <if test="turnoverRateReceivable != null">#{turnoverRateReceivable},</if>
        </trim>
    </insert>

    <update id="updateFinancialBalanceTable" parameterType="FinancialBalanceTable">
        update Financial_Balance_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="yearAndMonth != null">Year_And_Month = #{yearAndMonth},</if>
            <if test="inTransitInventory != null">InTransitInventory = #{inTransitInventory},</if>
            <if test="materials != null">Materials = #{materials},</if>
            <if test="materialCostVariance != null">MaterialCostVariance = #{materialCostVariance},</if>
            <if test="materialCostVarianceUnallocated != null">MaterialCostVariance_Unallocated = #{materialCostVarianceUnallocated},</if>
            <if test="monthlyRawMaterialInventory != null">MonthlyRawMaterialInventory = #{monthlyRawMaterialInventory},</if>
            <if test="workInProgressSemiFinishedGoods != null">WorkInProgress_SemiFinishedGoods = #{workInProgressSemiFinishedGoods},</if>
            <if test="productCostVarianceSemiFinishedGoods != null">ProductCostVariance_SemiFinishedGoods = #{productCostVarianceSemiFinishedGoods},</if>
            <if test="workInProgressEndOfMonth != null">WorkInProgress_EndOfMonth = #{workInProgressEndOfMonth},</if>
            <if test="monthlyWorkInProgressInventory != null">MonthlyWorkInProgressInventory = #{monthlyWorkInProgressInventory},</if>
            <if test="inventoryVehicles != null">Inventory_Vehicles = #{inventoryVehicles},</if>
            <if test="pcvFinished != null">PCV_Finished = #{pcvFinished},</if>
            <if test="monthAmountInStock != null">Month_Amount_InStock = #{monthAmountInStock},</if>
            <if test="monthlyInventoryTotalAmount != null">MonthlyInventoryTotalAmount = #{monthlyInventoryTotalAmount},</if>
            <if test="growthRateInventory != null">GrowthRate_Inventory = #{growthRateInventory},</if>
            <if test="lowValueConsumablesAmount != null">low_value_consumables_amount = #{lowValueConsumablesAmount},</if>
            <if test="receivables != null">Receivables = #{receivables},</if>
            <if test="turnoverRateReceivable != null">TurnoverRate_Receivable = #{turnoverRateReceivable},</if>
        </trim>
        where FB_ID = #{fbId}
    </update>
    <update id="updateBalanceTableTurnoverRateReceivable">
        update Financial_Balance_table set TurnoverRate_Receivable = #{turnoverRateReceivable} where FB_ID = #{fbId}
    </update>

    <delete id="deleteFinancialBalanceTableByFbId" parameterType="Long">
        delete from Financial_Balance_table where FB_ID = #{fbId}
    </delete>

    <delete id="deleteFinancialBalanceTableByFbIds" parameterType="String">
        delete from Financial_Balance_table where FB_ID in
        <foreach item="fbId" collection="array" open="(" separator="," close=")">
            #{fbId}
        </foreach>
    </delete>

    <select id="selectFinancialBalanceTableByFbId" parameterType="Long" resultMap="FinancialBalanceTableResult">
        <include refid="selectFinancialBalanceTableVo"/>
        where FB_ID = #{fbId}
    </select>
    <select id="selectMinYearAndMonth" resultType="java.util.Date">
        select min(Year_And_Month) from Financial_Balance_table
    </select>
    <select id="checkReceivablesDataIsExisted" resultType="java.lang.Boolean">
        select count(1) from Financial_Balance_table where Year_And_Month = #{yearAndMonth} and Receivables is not null
    </select>
    <select id="selectReceivablesByDate" resultType="java.lang.Double">
        select Receivables from Financial_Balance_table where Year_And_Month = #{yearAndMonth}
    </select>

    <select id="countMonthDataNumber" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM Financial_Balance_table
        WHERE Year_And_Month <![CDATA[ >= ]]> DATE_FORMAT(#{yearAndMonth}, '%Y-01-01')
        AND Year_And_Month <![CDATA[ <= ]]> #{yearAndMonth}
        AND Receivables is not null
    </select>
    <select id="countReceivablesByYear" resultType="java.lang.Double">
        SELECT sum(Receivables)
        FROM Financial_Balance_table
        WHERE Year_And_Month <![CDATA[ >= ]]> DATE_FORMAT(#{yearAndMonth}, '%Y-01-01')
          AND Year_And_Month <![CDATA[ <= ]]> #{yearAndMonth}
    </select>

</mapper>
