<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.financial.mapper.FinancialInterestsTableMapper">

    <resultMap type="FinancialInterestsTable" id="FinancialInterestsTableResult">
        <result property="fiId"    column="FI_ID"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="yearAndMonth"    column="Year_And_Month"    />
        <result property="operatingRevenue"    column="Operating_Revenue"    />
        <result property="internalMainRevenue"    column="Internal_MainRevenue"    />
        <result property="externalMainRevenue"    column="External_MainRevenue"    />
        <result property="mainRevenue"    column="MainRevenue"    />
        <result property="cogsProductSalesSd"    column="COGS_ProductSales_SD"    />
        <result property="cogsFreight"    column="COGS_Freight"    />
        <result property="cogsVariation"    column="COGS_Variation"    />
        <result property="COGS"    column="COGS"    />
        <result property="netProfit"    column="NetProfit"    />
        <result property="managementExpense"    column="ManagementExpense"    />
        <result property="rdExpense"    column="RD_Expense"    />
    </resultMap>

    <sql id="selectFinancialInterestsTableVo">
        select FI_ID, CREATE_BY, CREATE_TIME, Year_And_Month, Operating_Revenue, Internal_MainRevenue, External_MainRevenue, MainRevenue, COGS_ProductSales_SD, COGS_Freight, COGS_Variation, COGS, NetProfit, ManagementExpense, RD_Expense from Financial_Interests_table
    </sql>

    <select id="checkDataExists" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM Financial_Interests_table)
    </select>

    <!--  首页数据展示  -->
    <select id="selectInterestsSumInfoByYear" parameterType="Date" resultType="com.heli.financial.domain.FinancialInterestsTable">
        SELECT MAX(FI_ID)                fiId,
               MAX(Year_And_Month)       yearAndMonth,
               sum(Operating_Revenue)    operatingRevenue,
               sum(Internal_MainRevenue) internalMainRevenue,
               sum(External_MainRevenue) externalMainRevenue,
               sum(MainRevenue)          mainRevenue,
               sum(COGS_ProductSales_SD) cogsProductSalesSd,
               sum(COGS_Freight)         cogsFreight,
               sum(COGS_Variation)       cogsVariation,
               sum(COGS)                 COGS,
               sum(NetProfit)            netProfit,
               sum(ManagementExpense)    managementExpense,
               sum(RD_Expense)           rdExpense
        FROM Financial_Interests_table
        WHERE date_format(Year_And_Month, '%Y') = date_format(#{yearAndMonth}, '%Y')
    </select>

    <!--  获取年月最大的其他数据  -->
    <select id="selectMaxMonthInterests" resultMap="FinancialInterestsTableResult">
        <include refid="selectFinancialInterestsTableVo"/>
        where Year_And_Month IN (
        SELECT MAX(Year_And_Month)
        FROM Financial_Interests_table
        )
    </select>


    <!-- 按年查询利润指标的全部数据 -->
    <select id="selectFinancialInterestsTableByYear" resultMap="FinancialInterestsTableResult">
        select * from (
        select FI_ID, CREATE_BY, CREATE_TIME, Year_And_Month, Operating_Revenue, Internal_MainRevenue, External_MainRevenue, MainRevenue, COGS_ProductSales_SD, COGS_Freight, COGS_Variation, COGS, NetProfit, ManagementExpense, RD_Expense from Financial_Interests_table
        where Year_And_Month like concat('%',#{year},'%')
        order by Year_And_Month DESC
        ) as t
        order by Year_And_Month ASC
    </select>

    <!-- 按时间段查询利润指标的全部数据 -->
    <select id="selectFinancialInterestsTableByTime" resultMap="FinancialInterestsTableResult">
        select * from (
        select FI_ID, CREATE_BY, CREATE_TIME, Year_And_Month, Operating_Revenue, Internal_MainRevenue, External_MainRevenue, MainRevenue, COGS_ProductSales_SD, COGS_Freight, COGS_Variation, COGS, NetProfit, ManagementExpense, RD_Expense from Financial_Interests_table
        where Year_And_Month between #{beginTime} and #{endTime}
        order by Year_And_Month DESC
        ) as t
        order by Year_And_Month ASC
    </select>


    <!--  查询利润表已上传的全部月份  -->
    <select id="selectAllInterestsYearAndMonth" parameterType="Date" resultType="map">
        select * from (
            select Year_And_Month from Financial_Interests_table
            order by Year_And_Month DESC
        ) as t
        order by Year_And_Month ASC
    </select>



    <select id="checkInterestsDataIsExisted" parameterType="Date" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM Financial_Interests_table WHERE Year_And_Month=#{yearAndMonth})
    </select>

    <select id="selectFinancialInterestsTableByYearAndMonth" parameterType="Date" resultMap="FinancialInterestsTableResult">
        <include refid="selectFinancialInterestsTableVo"/>
        where Year_And_Month=#{yearAndMonth}
    </select>

    <select id="selectFinancialInterestsTableList" parameterType="FinancialInterestsTable" resultMap="FinancialInterestsTableResult">
        <include refid="selectFinancialInterestsTableVo"/>
        <where>
            <if test="createBy != null  and createBy != ''"> and CREATE_BY = #{createBy}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="yearAndMonth != null "> and Year_And_Month = #{yearAndMonth}</if>
            <if test="operatingRevenue != null "> and Operating_Revenue = #{operatingRevenue}</if>
            <if test="internalMainRevenue != null "> and Internal_MainRevenue = #{internalMainRevenue}</if>
            <if test="externalMainRevenue != null "> and External_MainRevenue = #{externalMainRevenue}</if>
            <if test="mainRevenue != null "> and MainRevenue = #{mainRevenue}</if>
            <if test="cogsProductSalesSd != null "> and COGS_ProductSales_SD = #{cogsProductSalesSd}</if>
            <if test="cogsFreight != null "> and COGS_Freight = #{cogsFreight}</if>
            <if test="cogsVariation != null "> and COGS_Variation = #{cogsVariation}</if>
            <if test="COGS != null "> and COGS = #{COGS}</if>
            <if test="netProfit != null "> and NetProfit = #{netProfit}</if>
            <if test="managementExpense != null "> and ManagementExpense = #{managementExpense}</if>
            <if test="rdExpense != null "> and RD_Expense = #{rdExpense}</if>
        </where>
        order by Year_And_Month DESC
    </select>

    <select id="selectFinancialInterestsTableByFiId" parameterType="Long" resultMap="FinancialInterestsTableResult">
        <include refid="selectFinancialInterestsTableVo"/>
        where FI_ID = #{fiId}
    </select>

    <!-- 查询当月营业收入   -->
    <select id="selectOperatingRevenueByMonth" resultType="java.math.BigDecimal">

        select Operating_Revenue from Financial_Interests_table
        where date_format(Year_And_Month,'%y-%m') = date_format(#{yearAndMonth},'%y-%m')

    </select>

    <!--  查询已上传数据的最大月份  -->
    <select id="selectMaxYearAndMonth" resultType="Date">
        select max(Year_And_Month) from Financial_Interests_table
    </select>

    <select id="countMonthDataNumber" resultType="java.lang.Integer">
        select count(*) from Financial_Interests_table
        WHERE Year_And_Month <![CDATA[ >= ]]> DATE_FORMAT(#{yearAndMonth}, '%Y-01-01')
          AND Year_And_Month <![CDATA[ <= ]]> #{yearAndMonth}
          AND Operating_Revenue is not null
    </select>
    <select id="countOperatingRevenueByYear" resultType="java.lang.Double">
        select sum(Operating_Revenue) from Financial_Interests_table
        WHERE Year_And_Month <![CDATA[ >= ]]> DATE_FORMAT(#{yearAndMonth}, '%Y-01-01')
          AND Year_And_Month <![CDATA[ <= ]]> #{yearAndMonth}
    </select>

    <insert id="insertFinancialInterestsTable" parameterType="FinancialInterestsTable">
        insert into Financial_Interests_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fiId != null">FI_ID,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="yearAndMonth != null">Year_And_Month,</if>
            <if test="operatingRevenue != null">Operating_Revenue,</if>
            <if test="internalMainRevenue != null">Internal_MainRevenue,</if>
            <if test="externalMainRevenue != null">External_MainRevenue,</if>
            <if test="mainRevenue != null">MainRevenue,</if>
            <if test="cogsProductSalesSd != null">COGS_ProductSales_SD,</if>
            <if test="cogsFreight != null">COGS_Freight,</if>
            <if test="cogsVariation != null">COGS_Variation,</if>
            <if test="COGS != null">COGS,</if>
            <if test="netProfit != null">NetProfit,</if>
            <if test="managementExpense != null">ManagementExpense,</if>
            <if test="rdExpense != null">RD_Expense,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fiId != null">#{fiId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="yearAndMonth != null">#{yearAndMonth},</if>
            <if test="operatingRevenue != null">#{operatingRevenue},</if>
            <if test="internalMainRevenue != null">#{internalMainRevenue},</if>
            <if test="externalMainRevenue != null">#{externalMainRevenue},</if>
            <if test="mainRevenue != null">#{mainRevenue},</if>
            <if test="cogsProductSalesSd != null">#{cogsProductSalesSd},</if>
            <if test="cogsFreight != null">#{cogsFreight},</if>
            <if test="cogsVariation != null">#{cogsVariation},</if>
            <if test="COGS != null">#{COGS},</if>
            <if test="netProfit != null">#{netProfit},</if>
            <if test="managementExpense != null">#{managementExpense},</if>
            <if test="rdExpense != null">#{rdExpense},</if>
        </trim>
    </insert>

    <update id="updateFinancialInterestsTable" parameterType="FinancialInterestsTable">
        update Financial_Interests_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="yearAndMonth != null">Year_And_Month = #{yearAndMonth},</if>
            <if test="operatingRevenue != null">Operating_Revenue = #{operatingRevenue},</if>
            <if test="internalMainRevenue != null">Internal_MainRevenue = #{internalMainRevenue},</if>
            <if test="externalMainRevenue != null">External_MainRevenue = #{externalMainRevenue},</if>
            <if test="mainRevenue != null">MainRevenue = #{mainRevenue},</if>
            <if test="cogsProductSalesSd != null">COGS_ProductSales_SD = #{cogsProductSalesSd},</if>
            <if test="cogsFreight != null">COGS_Freight = #{cogsFreight},</if>
            <if test="cogsVariation != null">COGS_Variation = #{cogsVariation},</if>
            <if test="COGS != null">COGS = #{COGS},</if>
            <if test="netProfit != null">NetProfit = #{netProfit},</if>
            <if test="managementExpense != null">ManagementExpense = #{managementExpense},</if>
            <if test="rdExpense != null">RD_Expense = #{rdExpense},</if>
        </trim>
        where FI_ID = #{fiId}
    </update>

    <delete id="deleteFinancialInterestsTableByFiId" parameterType="Long">
        delete from Financial_Interests_table where FI_ID = #{fiId}
    </delete>

    <delete id="deleteFinancialInterestsTableByFiIds" parameterType="String">
        delete from Financial_Interests_table where FI_ID in
        <foreach item="fiId" collection="array" open="(" separator="," close=")">
            #{fiId}
        </foreach>
    </delete>
</mapper>
