<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.partybuilding.mapper.PartyBuildingDisplayMapper">


    <!-- 党建月度考核排名 指标50 -->
    <select id="selectPartyBuildingRank" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Ranking as ranking, score
              from PartyBuilding
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC) as t
        order by yearAndMonth ASC
    </select>



</mapper>
