<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.tech.mapper.TechMapper">

    <resultMap type="Tech" id="TechResult">
        <result property="techId" column="Tech_ID"/>
        <result property="yearAndMonth" column="Year_And_Month"/>
        <result property="nonStandardAvgPreparationDays" column="Non_Standard_AVG_Preparation_Days"/>
        <result property="completedmonthlyPlancounts" column="CompletedMonthly_PlanCounts"/>
        <result property="prdscheduleCompletionrate" column="PRDSchedule_CompletionRate"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <sql id="selectTechVo">
        select Tech_ID,
               Year_And_Month,
               Non_Standard_AVG_Preparation_Days,
               CompletedMonthly_PlanCounts,
               PRDSchedule_CompletionRate,
               CREATE_BY,
               CREATE_TIME,
               UPDATE_BY,
               UPDATE_TIME
        from Tech
    </sql>


    <!-- 统计当年已经完成的数量 -->
    <select id="countAnnualCompletionNumber" parameterType="int" resultType="long">
        select sum(CompletedMonthly_PlanCounts) as num
        from Tech
        where Year_And_Month like concat('%', #{year}, '%')
    </select>

    <!--检查当月数据是否上传-->
    <select id="checkTechMonthlyDataIsExisted" parameterType="Date" >
        SELECT EXISTS(SELECT 1 FROM Tech WHERE Year_And_Month=#{yearAndMonth})
    </select>



    <!-- 非标订单平均技术准备天数 指标47 -->
    <select id="selectNonStandardAVGPreparationDays" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, Non_Standard_AVG_Preparation_Days as nonStandardAVGPreparationDays
              from Tech
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>

    <!-- 研发项目计划进度完成率 指标71 -->
    <select id="selectPRDScheduleCompletionRate" resultType="map">
        select *
        from (select Year_And_Month as yearAndMonth, PRDSchedule_CompletionRate as prdScheduleCompletionRate
              from Tech
              where Year_And_Month between #{startTime} and #{endTime}
              order by Year_And_Month DESC
             ) as t
        order by yearAndMonth ASC
    </select>






    <select id="selectTechList" parameterType="Tech" resultMap="TechResult">
        <include refid="selectTechVo"/>
        <where>
            <if test="yearAndMonth != null ">and Year_And_Month = #{yearAndMonth}</if>
            <if test="nonStandardAvgPreparationDays != null ">and Non_Standard_AVG_Preparation_Days = #{nonStandardAvgPreparationDays}</if>
            <if test="completedmonthlyPlancounts != null ">and CompletedMonthly_PlanCounts = #{completedmonthlyPlancounts}</if>
            <if test="prdscheduleCompletionrate != null ">and PRDSchedule_CompletionRate = #{prdscheduleCompletionrate}</if>
        </where>
    </select>

    <select id="selectTechByTechId" parameterType="Long" resultMap="TechResult">
        <include refid="selectTechVo"/>
        where Tech_ID = #{techId}
    </select>

    <insert id="insertTech" parameterType="Tech" useGeneratedKeys="true" keyProperty="techId">
        insert into Tech
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="yearAndMonth != null">Year_And_Month,</if>
            <if test="nonStandardAvgPreparationDays != null">Non_Standard_AVG_Preparation_Days,</if>
            <if test="completedmonthlyPlancounts != null">CompletedMonthly_PlanCounts,</if>
            <if test="prdscheduleCompletionrate != null">PRDSchedule_CompletionRate,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="yearAndMonth != null">#{yearAndMonth},</if>
            <if test="nonStandardAvgPreparationDays != null">#{nonStandardAvgPreparationDays},</if>
            <if test="completedmonthlyPlancounts != null">#{completedmonthlyPlancounts},</if>
            <if test="prdscheduleCompletionrate != null">#{prdscheduleCompletionrate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTech" parameterType="Tech">
        update Tech
        <trim prefix="SET" suffixOverrides=",">
            <if test="yearAndMonth != null">Year_And_Month = #{yearAndMonth},</if>
            <if test="nonStandardAvgPreparationDays != null">Non_Standard_AVG_Preparation_Days = #{nonStandardAvgPreparationDays},</if>
            <if test="completedmonthlyPlancounts != null">CompletedMonthly_PlanCounts = #{completedmonthlyPlancounts},</if>
            <if test="prdscheduleCompletionrate != null">PRDSchedule_CompletionRate = #{prdscheduleCompletionrate},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where Tech_ID = #{techId}
    </update>

    <delete id="deleteTechByTechId" parameterType="Long">
        delete
        from Tech
        where Tech_ID = #{techId}
    </delete>

    <delete id="deleteTechByTechIds" parameterType="String">
        delete from Tech where Tech_ID in
        <foreach item="techId" collection="array" open="(" separator="," close=")">
            #{techId}
        </foreach>
    </delete>
</mapper>