<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.tech.mapper.TechMapper">
    
    <resultMap type="Tech" id="TechResult">
        <result property="techId"    column="Tech_ID"    />
        <result property="yearAndMonth"    column="Year_And_Month"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="nonStandardAvgPreparationDays"    column="Non_Standard_AVG_Preparation_Days"    />
        <result property="completedmonthlyPlancounts"    column="CompletedMonthly_PlanCounts"    />
        <result property="annualPlancounts"    column="Annual_PlanCounts"    />
        <result property="prdscheduleCompletionrate"    column="PRDSchedule_CompletionRate"    />
    </resultMap>

    <sql id="selectTechVo">
        select Tech_ID, Year_And_Month, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, Non_Standard_AVG_Preparation_Days, CompletedMonthly_PlanCounts, Annual_PlanCounts, PRDSchedule_CompletionRate from Tech
    </sql>

    <!-- 统计当年已经完成的数量 -->
    <select id="countAnnualCompletionNumber" resultType="long">
        select sum(CompletedMonthly_PlanCounts) as num
        from Tech
        where Year_And_Month like concat('%',#{year},'%')
    </select>

    <!-- 按年查询数据 -->
    <select id="selectTechListByYear" resultMap="TechResult">
        <include refid="selectTechVo"/>
        where Year_And_Month like concat('%',#{year},'%')
    </select>



    <select id="selectTechList" parameterType="Tech" resultMap="TechResult">
        <include refid="selectTechVo"/>
        <where>  
            <if test="yearAndMonth != null "> and Year_And_Month = #{yearAndMonth}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
            <if test="nonStandardAvgPreparationDays != null "> and Non_Standard_AVG_Preparation_Days = #{nonStandardAvgPreparationDays}</if>
            <if test="completedmonthlyPlancounts != null "> and CompletedMonthly_PlanCounts = #{completedmonthlyPlancounts}</if>
            <if test="annualPlancounts != null "> and Annual_PlanCounts = #{annualPlancounts}</if>
            <if test="prdscheduleCompletionrate != null "> and PRDSchedule_CompletionRate = #{prdscheduleCompletionrate}</if>
        </where>
    </select>
    
    <select id="selectTechByTechId" parameterType="Long" resultMap="TechResult">
        <include refid="selectTechVo"/>
        where Tech_ID = #{techId}
    </select>
        
    <insert id="insertTech" parameterType="Tech" useGeneratedKeys="true" keyProperty="techId">
        insert into Tech
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="yearAndMonth != null">Year_And_Month,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
            <if test="nonStandardAvgPreparationDays != null">Non_Standard_AVG_Preparation_Days,</if>
            <if test="completedmonthlyPlancounts != null">CompletedMonthly_PlanCounts,</if>
            <if test="annualPlancounts != null">Annual_PlanCounts,</if>
            <if test="prdscheduleCompletionrate != null">PRDSchedule_CompletionRate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="yearAndMonth != null">#{yearAndMonth},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="nonStandardAvgPreparationDays != null">#{nonStandardAvgPreparationDays},</if>
            <if test="completedmonthlyPlancounts != null">#{completedmonthlyPlancounts},</if>
            <if test="annualPlancounts != null">#{annualPlancounts},</if>
            <if test="prdscheduleCompletionrate != null">#{prdscheduleCompletionrate},</if>
         </trim>
    </insert>

    <update id="updateTech" parameterType="Tech">
        update Tech
        <trim prefix="SET" suffixOverrides=",">
            <if test="yearAndMonth != null">Year_And_Month = #{yearAndMonth},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
            <if test="nonStandardAvgPreparationDays != null">Non_Standard_AVG_Preparation_Days = #{nonStandardAvgPreparationDays},</if>
            <if test="completedmonthlyPlancounts != null">CompletedMonthly_PlanCounts = #{completedmonthlyPlancounts},</if>
            <if test="annualPlancounts != null">Annual_PlanCounts = #{annualPlancounts},</if>
            <if test="prdscheduleCompletionrate != null">PRDSchedule_CompletionRate = #{prdscheduleCompletionrate},</if>
        </trim>
        where Tech_ID = #{techId}
    </update>

    <delete id="deleteTechByTechId" parameterType="Long">
        delete from Tech where Tech_ID = #{techId}
    </delete>

    <delete id="deleteTechByTechIds" parameterType="String">
        delete from Tech where Tech_ID in 
        <foreach item="techId" collection="array" open="(" separator="," close=")">
            #{techId}
        </foreach>
    </delete>
</mapper>