<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.supply.mapper.SupplyPurchaseorderTableMapper">
    
    <resultMap type="SupplyPurchaseorderTable" id="SupplyPurchaseorderTableResult">
        <result property="spId"    column="SP_ID"    />
        <result property="materialNumber"    column="Material_Number"    />
        <result property="purchaseQuantity"    column="Purchase_Quantity"    />
        <result property="netPrice"    column="Net_Price"    />
        <result property="netValueOrder"    column="Net_Value_Order"    />
        <result property="documentDate"    column="Document_Date"    />
        <result property="Supplier"    column="Supplier"    />
        <result property="supplierName"    column="Supplier_Name"    />
    </resultMap>

    <sql id="selectSupplyPurchaseorderTableVo">
        select SP_ID, Material_Number, Purchase_Quantity, Net_Price, Net_Value_Order, Document_Date, Supplier, Supplier_Name from Supply_Purchaseorder_table
    </sql>

    <select id="selectSupplyPurchaseorderTableList" parameterType="SupplyPurchaseorderTable" resultMap="SupplyPurchaseorderTableResult">
        <include refid="selectSupplyPurchaseorderTableVo"/>
        <where>  
            <if test="materialNumber != null  and materialNumber != ''"> and Material_Number = #{materialNumber}</if>
            <if test="purchaseQuantity != null "> and Purchase_Quantity = #{purchaseQuantity}</if>
            <if test="netPrice != null "> and Net_Price = #{netPrice}</if>
            <if test="netValueOrder != null "> and Net_Value_Order = #{netValueOrder}</if>
            <if test="documentDate != null "> and Document_Date = #{documentDate}</if>
            <if test="Supplier != null  and Supplier != ''"> and Supplier = #{Supplier}</if>
            <if test="supplierName != null  and supplierName != ''"> and Supplier_Name like concat('%', #{supplierName}, '%')</if>
        </where>
    </select>
    
    <select id="selectSupplyPurchaseorderTableBySpId" parameterType="Long" resultMap="SupplyPurchaseorderTableResult">
        <include refid="selectSupplyPurchaseorderTableVo"/>
        where SP_ID = #{spId}
    </select>
        
    <insert id="insertSupplyPurchaseorderTable" parameterType="SupplyPurchaseorderTable" useGeneratedKeys="true" keyProperty="spId">
        insert into Supply_Purchaseorder_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialNumber != null and materialNumber != ''">Material_Number,</if>
            <if test="purchaseQuantity != null">Purchase_Quantity,</if>
            <if test="netPrice != null">Net_Price,</if>
            <if test="netValueOrder != null">Net_Value_Order,</if>
            <if test="documentDate != null">Document_Date,</if>
            <if test="Supplier != null and Supplier != ''">Supplier,</if>
            <if test="supplierName != null and supplierName != ''">Supplier_Name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialNumber != null and materialNumber != ''">#{materialNumber},</if>
            <if test="purchaseQuantity != null">#{purchaseQuantity},</if>
            <if test="netPrice != null">#{netPrice},</if>
            <if test="netValueOrder != null">#{netValueOrder},</if>
            <if test="documentDate != null">#{documentDate},</if>
            <if test="Supplier != null and Supplier != ''">#{Supplier},</if>
            <if test="supplierName != null and supplierName != ''">#{supplierName},</if>
         </trim>
    </insert>


    <!--  批量插入的 SQL 语句  -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO Supply_Purchaseorder_table (SP_ID, Material_Number, Purchase_Quantity, Net_Price, Net_Value_Order, Document_Date, Supplier, Supplier_Name)
        VALUES
        <foreach collection="list" item="item" index="index" separator=","> ( #{item.spId}, #{item.materialNumber}, #{item.purchaseQuantity}, #{item.netPrice}, #{item.netValueOrder}, #{item.documentDate}, #{item.Supplier}, #{item.supplierName}) </foreach>
    </insert>

    <update id="updateSupplyPurchaseorderTable" parameterType="SupplyPurchaseorderTable">
        update Supply_Purchaseorder_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialNumber != null and materialNumber != ''">Material_Number = #{materialNumber},</if>
            <if test="purchaseQuantity != null">Purchase_Quantity = #{purchaseQuantity},</if>
            <if test="netPrice != null">Net_Price = #{netPrice},</if>
            <if test="netValueOrder != null">Net_Value_Order = #{netValueOrder},</if>
            <if test="documentDate != null">Document_Date = #{documentDate},</if>
            <if test="Supplier != null and Supplier != ''">Supplier = #{Supplier},</if>
            <if test="supplierName != null and supplierName != ''">Supplier_Name = #{supplierName},</if>
        </trim>
        where SP_ID = #{spId}
    </update>

    <delete id="deleteSupplyPurchaseorderTableBySpId" parameterType="Long">
        delete from Supply_Purchaseorder_table where SP_ID = #{spId}
    </delete>

    <delete id="deleteSupplyPurchaseorderTableBySpIds" parameterType="String">
        delete from Supply_Purchaseorder_table where SP_ID in 
        <foreach item="spId" collection="array" open="(" separator="," close=")">
            #{spId}
        </foreach>
    </delete>

    <select id="calculateSupplierRatioByQuantity" resultType="java.lang.Double">
        WITH TotalPurchaseQuantities AS (
            SELECT
                SUM(sp.Purchase_Quantity) AS TotalQuantity
            FROM
                supply_purchaseorder_table sp
            INNER JOIN
                supply_material_category_dictionary_table smcd
                ON sp.Material_Number = smcd.Material_Number
            WHERE
                smcd.Material_Class = #{materialClass}
        ), SupplierPurchaseQuantities AS (
            SELECT
                SUM(sp.Purchase_Quantity) AS SupplierTotalQuantity
            FROM
                supply_purchaseorder_table sp
            INNER JOIN
                supply_material_category_dictionary_table smcd
                ON sp.Material_Number = smcd.Material_Number
            WHERE
                smcd.Material_Class = #{materialClass}
            AND sp.Supplier = #{supplierCode}
        )
        SELECT
            (COALESCE(SupplierTotalQuantity, 0) / TotalQuantity) * 100 AS RatioPercentage
        FROM
            TotalPurchaseQuantities, SupplierPurchaseQuantities;
    </select>

    <select id="calculateSupplierRatioByNetValueOrder" resultType="java.lang.Double">
        WITH TotalNetValue AS (
            SELECT
                SUM(sp.Net_Value_Order) AS TotalNetValue
            FROM
                supply_purchaseorder_table sp
            INNER JOIN
                supply_material_category_dictionary_table smcd
                ON sp.Material_Number = smcd.Material_Number
            WHERE
                smcd.Material_Class = #{materialClass}
        ), SupplierNetValue AS (
            SELECT
                SUM(sp.Net_Value_Order) AS SupplierNetValue
            FROM
                supply_purchaseorder_table sp
            INNER JOIN
                supply_material_category_dictionary_table smcd
                ON sp.Material_Number = smcd.Material_Number
            WHERE
                smcd.Material_Class = #{materialClass}
            AND sp.Supplier = #{supplierCode}
        )
        SELECT
            (COALESCE(SupplierNetValue, 0) / TotalNetValue) * 100 AS RatioPercentage
        FROM
            TotalNetValue, SupplierNetValue;
    </select>

</mapper>