<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.supply.mapper.SupplyMaterialCategoryDictionaryTableMapper">
    
    <resultMap type="SupplyMaterialCategoryDictionaryTable" id="SupplyMaterialCategoryDictionaryTableResult">
        <result property="smcdId"    column="SMCD_ID"    />
        <result property="materialNumber"    column="Material_Number"    />
        <result property="materialClass"    column="Material_Class"    />
    </resultMap>

    <sql id="selectSupplyMaterialCategoryDictionaryTableVo">
        select SMCD_ID, Material_Number, Material_Class from supply_material_category_dictionary_table
    </sql>

    <select id="selectSupplyMaterialCategoryDictionaryTableList" parameterType="SupplyMaterialCategoryDictionaryTable" resultMap="SupplyMaterialCategoryDictionaryTableResult">
        <include refid="selectSupplyMaterialCategoryDictionaryTableVo"/>
        <where>  
            <if test="materialNumber != null  and materialNumber != ''"> and Material_Number = #{materialNumber}</if>
            <if test="materialClass != null  and materialClass != ''"> and Material_Class = #{materialClass}</if>
        </where>
    </select>
    
    <select id="selectSupplyMaterialCategoryDictionaryTableBySmcdId" parameterType="Long" resultMap="SupplyMaterialCategoryDictionaryTableResult">
        <include refid="selectSupplyMaterialCategoryDictionaryTableVo"/>
        where SMCD_ID = #{smcdId}
    </select>
        
    <insert id="insertSupplyMaterialCategoryDictionaryTable" parameterType="SupplyMaterialCategoryDictionaryTable" useGeneratedKeys="true" keyProperty="smcdId">
        insert into supply_material_category_dictionary_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialNumber != null and materialNumber != ''">Material_Number,</if>
            <if test="materialClass != null and materialClass != ''">Material_Class,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialNumber != null and materialNumber != ''">#{materialNumber},</if>
            <if test="materialClass != null and materialClass != ''">#{materialClass},</if>
         </trim>
    </insert>

    <update id="updateSupplyMaterialCategoryDictionaryTable" parameterType="SupplyMaterialCategoryDictionaryTable">
        update supply_material_category_dictionary_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialNumber != null and materialNumber != ''">Material_Number = #{materialNumber},</if>
            <if test="materialClass != null and materialClass != ''">Material_Class = #{materialClass},</if>
        </trim>
        where SMCD_ID = #{smcdId}
    </update>

    <delete id="deleteSupplyMaterialCategoryDictionaryTableBySmcdId" parameterType="Long">
        delete from supply_material_category_dictionary_table where SMCD_ID = #{smcdId}
    </delete>

    <delete id="deleteSupplyMaterialCategoryDictionaryTableBySmcdIds" parameterType="String">
        delete from supply_material_category_dictionary_table where SMCD_ID in 
        <foreach item="smcdId" collection="array" open="(" separator="," close=")">
            #{smcdId}
        </foreach>
    </delete>

    <!-- 批量插入的 SQL 语句 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO supply_material_category_dictionary_table (Material_Number, Material_Class)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.materialNumber},
            #{item.materialClass}
            )
        </foreach>
    </insert>

    <delete id="deleteAll">
        TRUNCATE TABLE supply_material_category_dictionary_table
    </delete>
</mapper>