<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Technology.mapper.TechnologyFunctionMaterialRetentionMapper">

    <resultMap type="TechnologyFunctionMaterialRetention" id="TechnologyFunctionMaterialRetentionResult">
        <result property="tfemId"    column="TFEM_ID"    />
        <result property="regulationsTitle"    column="regulations_title"    />
        <result property="uploadDate"    column="upload_date"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="createDate"    column="create_date"    />
        <result property="uploadUsername"    column="upload_username"    />
        <result property="departmentCategory"    column="department_category"    />
        <result property="fileTag"    column="file_tag"    />
        <result property="oldRegulationsId"    column="old_regulations_id"    />
        <result property="revisionDate"    column="revision_date"    />
        <result property="revisionContent"    column="revision_content"    />
        <result property="reviser"    column="reviser"    />
        <result property="newFlag"    column="new_flag"    />
        <result property="newRegulationsId"    column="new_regulations_id"    />
    </resultMap>

    <sql id="selectTechnologyFunctionMaterialRetentionVo">
        select TFEM_ID, regulations_title, upload_date, file_name, file_path, file_type, file_size, create_date, upload_username, department_category, file_tag, old_regulations_id, revision_date, revision_content, reviser, new_flag, new_regulations_id from Technology_Function_material_retention
    </sql>

    <select id="selectTechnologyFunctionMaterialRetentionList" parameterType="TechnologyFunctionMaterialRetention" resultMap="TechnologyFunctionMaterialRetentionResult">
        <include refid="selectTechnologyFunctionMaterialRetentionVo"/>
        <where>
            <if test="regulationsTitle != null  and regulationsTitle != ''"> and regulations_title = #{regulationsTitle}</if>
            <if test="uploadDate != null "> and upload_date = #{uploadDate}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="uploadUsername != null  and uploadUsername != ''"> and upload_username like concat('%', #{uploadUsername}, '%')</if>
            <if test="departmentCategory != null  and departmentCategory != ''"> and department_category = #{departmentCategory}</if>
            <if test="fileTag != null  and fileTag != ''"> and file_tag = #{fileTag}</if>
            <if test="oldRegulationsId != null "> and old_regulations_id = #{oldRegulationsId}</if>
            <if test="revisionDate != null "> and revision_date = #{revisionDate}</if>
            <if test="revisionContent != null  and revisionContent != ''"> and revision_content = #{revisionContent}</if>
            <if test="reviser != null  and reviser != ''"> and reviser = #{reviser}</if>
            <if test="newFlag != null "> and new_flag = #{newFlag}</if>
            <if test="newRegulationsId != null "> and new_regulations_id = #{newRegulationsId}</if>
        </where>
    </select>

    <select id="selectTechnologyFunctionMaterialRetentionByTfemId" parameterType="Long" resultMap="TechnologyFunctionMaterialRetentionResult">
        <include refid="selectTechnologyFunctionMaterialRetentionVo"/>
        where TFEM_ID = #{tfemId}
    </select>

    <insert id="insertTechnologyFunctionMaterialRetention" parameterType="TechnologyFunctionMaterialRetention">
        insert into Technology_Function_material_retention
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tfemId != null">TFEM_ID,</if>
            <if test="regulationsTitle != null and regulationsTitle != ''">regulations_title,</if>
            <if test="uploadDate != null">upload_date,</if>
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="fileType != null">file_type,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="createDate != null">create_date,</if>
            <if test="uploadUsername != null and uploadUsername != ''">upload_username,</if>
            <if test="departmentCategory != null and departmentCategory != ''">department_category,</if>
            <if test="fileTag != null">file_tag,</if>
            <if test="oldRegulationsId != null">old_regulations_id,</if>
            <if test="revisionDate != null">revision_date,</if>
            <if test="revisionContent != null">revision_content,</if>
            <if test="reviser != null">reviser,</if>
            <if test="newFlag != null">new_flag,</if>
            <if test="newRegulationsId != null">new_regulations_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tfemId != null">#{tfemId},</if>
            <if test="regulationsTitle != null and regulationsTitle != ''">#{regulationsTitle},</if>
            <if test="uploadDate != null">#{uploadDate},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="uploadUsername != null and uploadUsername != ''">#{uploadUsername},</if>
            <if test="departmentCategory != null and departmentCategory != ''">#{departmentCategory},</if>
            <if test="fileTag != null">#{fileTag},</if>
            <if test="oldRegulationsId != null">#{oldRegulationsId},</if>
            <if test="revisionDate != null">#{revisionDate},</if>
            <if test="revisionContent != null">#{revisionContent},</if>
            <if test="reviser != null">#{reviser},</if>
            <if test="newFlag != null">#{newFlag},</if>
            <if test="newRegulationsId != null">#{newRegulationsId},</if>
        </trim>
    </insert>

    <update id="updateTechnologyFunctionMaterialRetention" parameterType="TechnologyFunctionMaterialRetention">
        update Technology_Function_material_retention
        <trim prefix="SET" suffixOverrides=",">
            <if test="regulationsTitle != null and regulationsTitle != ''">regulations_title = #{regulationsTitle},</if>
            <if test="uploadDate != null">upload_date = #{uploadDate},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="uploadUsername != null and uploadUsername != ''">upload_username = #{uploadUsername},</if>
            <if test="departmentCategory != null and departmentCategory != ''">department_category = #{departmentCategory},</if>
            <if test="fileTag != null">file_tag = #{fileTag},</if>
            <if test="oldRegulationsId != null">old_regulations_id = #{oldRegulationsId},</if>
            <if test="revisionDate != null">revision_date = #{revisionDate},</if>
            <if test="revisionContent != null">revision_content = #{revisionContent},</if>
            <if test="reviser != null">reviser = #{reviser},</if>
            <if test="newFlag != null">new_flag = #{newFlag},</if>
            <if test="newRegulationsId != null">new_regulations_id = #{newRegulationsId},</if>
        </trim>
        where TFEM_ID = #{tfemId}
    </update>

    <delete id="deleteTechnologyFunctionMaterialRetentionByTfemId" parameterType="Long">
        delete from Technology_Function_material_retention where TFEM_ID = #{tfemId}
    </delete>

    <delete id="deleteTechnologyFunctionMaterialRetentionByTfemIds" parameterType="String">
        delete from Technology_Function_material_retention where TFEM_ID in
        <foreach item="tfemId" collection="array" open="(" separator="," close=")">
            #{tfemId}
        </foreach>
    </delete>
</mapper>